
.cuadricula-formulario {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  box-sizing: border-box;
}

.cuadricula-formulario label {
  font-weight: 600;
  display: block;
  margin-bottom: 6px;
  color: #1a202c;
}
.bloque-completo{
  grid-column:span 3;
}

/* Botón enviar */
.btn-enviar {
  padding: 10px 35px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.btn-enviar:hover {
  background-color: #0056b3;
}

/* Adaptación móvil */
@media (max-width: 768px) {
  .cuadricula-formulario {
    grid-template-columns: 1fr;
  }
  .bloque-completo {
    grid-column: span 1;
  }
  
}